@{
    ViewBag.Title = "Home Page";
}

<header class="intro">
    <div class="time">
        <span id="time"></span>
    </div>
    <div id="gretting">
        <p id="message">Good morning.</p>
    </div>
    <p class="lead">Your personal ToDo application</p>

    <a href="Account/Login" class="btn btn-circle page-scroll" aria-label="Left Align">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    </a>
</header>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/time.js")"></script>
}